body {
  font-family: Arial, sans-serif;
  background-color: #b3bccc;
  }

.search {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  padding: 5px;
}

h1{
text-align: center;
font-family:Arial, Helvetica, sans-serif;
font-size:60px;
color:rgb(25, 25, 60) ;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px; /* Reducir el tamaño de la fuente en pantallas más pequeñas */
  }
}

table {
width: 100%;
border-collapse:separate;
}

th, td {
border-radius: 5px;
text-align: left;
padding: 10px;
}

th {
background-color: #f2f2f2;
text-align: center;
}

a {
color: rgb(60, 60, 120);
text-decoration: none;
}

a:hover {
color: #48b8e1;
}

.about-us {
  display: flex;
  justify-content: space-around; /* Distribuye las cajas horizontalmente */
  align-items: stretch;
  flex-wrap: wrap;
}

.container {
  background-color: #f2f2f2; /* Usar el mismo color que las cabeceras de tablas para consistencia */
  border: 3px solid #dddddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 30%; /* Asegura que las cajas ocupen aproximadamente un tercio del ancho total */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    width: 45%; /* Hacer que las cajas ocupen casi la mitad en pantallas medianas */
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%; /* En pantallas pequeñas, las cajas ocupan todo el ancho */
  }
}

.container img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

.container h2 {
  margin-top: 0;
  font-size: 24px;
  color: rgb(25, 25, 60); /* Usar el mismo color que el título principal */
  text-align: center;
}

.container p, .container ul {
  font-size: 16px;
  color: rgb(60, 60, 120); /* Usar el mismo color que los enlaces */
  text-align: center;
}

.container ul {
  padding-left: 20px;
}

.registro-footer1 {
  margin-top: 60px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: #f2f2f2;
}

.miiral-text1{
  font-style: italic;
  color: #1737B2;
}
.bold-text1{
  margin-top: 10px;
  color:#1737B2;
  
}