body {
  font-family: Arial, sans-serif;
  background-color: #b3bccc;
  }

.search {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  padding: 5px;
}

h1{
text-align: center;
font-family:Arial, Helvetica, sans-serif;
font-size:60px;
color:rgb(25, 25, 60) ;
}

table {
width: 100%;
border-collapse:separate;
}

th, td {
border-radius: 5px;
text-align: left;
padding: 10px;
}

th {
background-color: #f2f2f2;
text-align: center;
}

a {
color: rgb(60, 60, 120);
text-decoration: none;
}

a:hover {
color: #48b8e1;
}

/* Estilos para el formulario */
.form-container {
  width: 40%; /* Ancho fijo para mejorar la simetría */
  margin: auto;
  background-color: #f2f2f2;
  padding: 5%;
  border: 2px solid #dddddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* Para incluir padding en el tamaño total */
}

.registration-form label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: rgb(60, 60, 120);
}

.registration-form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-sizing: border-box; /* Para que el padding no desborde el input */
}

.registration-form .buttons {
  display: flex;
  justify-content: space-between; /* Mantiene los botones distribuidos */
  margin-top: 40px;
}

.registration-form button {
  width: 25%; /* Ajusta el tamaño de los botones */
  background-color: rgb(25, 25, 60);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.registration-form button:hover {
  background-color: rgb(60, 60, 120);
}

.registro-footer {
  margin-top: 60px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgb(0, 0, 0);
}

.miiral-text{
  font-style: italic;
  color: #1737B2;
}
.bold-text{
  margin-top: 10px;
  color: #1737B2;
  
}