body {
    font-family: Arial, sans-serif;
    background-color: rgb(162, 176, 202);
  }
  
  header {
    background-color: rgb(162, 176, 202);
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
  }

  h1{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:40px;
    color:rgb(25, 25, 60) ;
  }
  
  table {
    width: 100%;
    border-collapse:separate;
  }
  
  th, td {
    border: 3px solid #dddddd;
    text-align: left;
    padding: 10px;
  }
  
  th {
    background-color: #f2f2f2;
    text-align: center;
  }
  
  a {
    color: rgb(60, 60, 120);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }


main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
}

form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
}

select, input[type="date"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
}

button {
    background-color: rgb(60, 60, 120);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    flex: 1;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(60, 60, 120);
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #e4e4e4;
}